.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  list-style-type: none;
}

.gallery-image:hover {
  cursor: url("../icons/hand.svg"), auto;
  transition: 500ms linear;
  transform: scale(1.044444);
}

.gallery-image {
  width: 360px;
  height: 200px;
}
